* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;



}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Epet20Logo-movimiento infinite 3s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes Epet20Logo-movimiento {
 0% {
  transform: translateY(10px);


 }


 100% {
  transform: translateY(-10px);


 }
 50% {
  transform: translateY(10px);


 }


 0% {
  transform: translateY(-10px);


 }

}


.titulo-booky {
  align-items: center;
  justify-content: center;

}
a:active {

  transform: scale(1.3);
  transition: ease-in-out 0.35s;
  

}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
 



}

  
 
 
 