@import url(General.css);


.fondo {
   display: flex;
    background-color: #8bd7f775;
    height: 100vh;
}


form {
    margin: auto;
    padding: 50px;
    padding-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center ;
    background-color: #73d1fa;
    box-shadow: 1px 1px 5px 3px black;
    border-radius: 10px;
}

.campos {

    padding: 15px;
}
.inputs {
    height: 30px;
    text-align: center;
    width: 100%;
	padding: 10px;
	border-radius: 5px;
    border: none;
	cursor: vertical-text;
    transition: .3s ease all;
}
.labels {
    font-size: 16px;
    display: block;
    text-align: left;
}
.logo {
    width: 30%;
    
}

button[type="submit"] {
    margin-top: 20px;
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}